Repository hnordt/web-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,html,css,json}": "prettier --write",
  "*.js": ["eslint --fix", "prettier --write"]
}

chore: Fix
  postcss.config.js
Due: prettier --write, eslint --fix

chore: Upgrade deps
  package.json
Due: prettier --write

chore: Update package-lock.json
  package-lock.json
Due: prettier --write

chore: Remove react-scripts
  package-lock.json
  package.json
Due: prettier --write

build: Upgrade deps
  package-lock.json
  package.json
Due: prettier --write

chore: Upgrade deps
  package-lock.json
  package.json
Due: prettier --write

feat: React Toastify
  package-lock.json
  package.json
  src/pages/_app.js
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  d728c631f639f43164ae2558e44bdcff6fd4c827
Due: none

fix: Update Toastify transition
  src/pages/_app.js
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  d8bfe21b38133d08ab4d59dac331bd1992e40081
Due: none

build: Add experimental Tailwind flags
  tailwind.config.js
Due: prettier --write, eslint --fix

build: Add Tailwind React
  package-lock.json
  package.json
Due: prettier --write

test: Colocation
  src/pages/index.test.js
Due: prettier --write, eslint --fix

chore: Fix
  src/__tests__/pages/index.test.js
Due: prettier --write, eslint --fix

Update _app.js
  src/pages/_app.js
Due: prettier --write, eslint --fix

feat: SPA
  next.config.js
  src/components/Layout.js
  src/pages/_app.js
  src/pages/_document.js
  src/pages/index.js
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  d7f706ffc058f7c176a91182db20e80076a5e33f
Due: none

build: Upgrade deps
  .eslintrc
  package-lock.json
  package.json
Due: prettier --write

chore: Remove SPA
  next.config.js
  src/components/Layout.js
  src/pages/_app.js
  src/pages/_document.js
  src/pages/index.js
Due: prettier --write, eslint --fix

build: Improve Tailwind config
  src/styles/index.css
  tailwind.config.js
Due: prettier --write, eslint --fix

build: Upgrade docs
  package-lock.json
  package.json
Due: prettier --write

feat: React Router
  next.config.js
  package-lock.json
  package.json
  src/pages/_app.js
  src/pages/index.js
Due: prettier --write, eslint --fix

chore: Cleanup
  next.config.js
Due: prettier --write, eslint --fix

chore: Cleanup
  src/pages/index.js
Due: prettier --write, eslint --fix

chore: Minor change
  src/pages/index.js
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  52e593b838c01d3e0de214fc4e120aa1b0ecd7d6
Due: none

chore: Cleanup
  src/pages/_app.js
  src/pages/index.js
Due: prettier --write, eslint --fix

chore: Improvements
  src/pages/_app.js
  src/pages/_document.js
  src/pages/index.js
Due: prettier --write, eslint --fix

feat: Safe hydrate
  package-lock.json
  package.json
  src/pages/_app.js
  src/pages/_document.js
  src/pages/index.js
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  80a149eea6094e9d3c6f1f22421eb94b05a29f41
Due: none

chore: Improvements
  package-lock.json
  package.json
  src/pages/_app.js
  src/pages/_document.js
  tailwind.config.js
Due: prettier --write, eslint --fix

chore: Upgrade deps
  package-lock.json
  package.json
  src/pages/_app.js
  src/pages/_document.js
Due: prettier --write, eslint --fix

Delete now.json
  now.json
Due: prettier --write

Update _document.js
  src/pages/_document.js
Due: prettier --write, eslint --fix
