Repository hnordt/web-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, next lint --fix .

.lintstagedrc:

{
  "*.{md,html,css,json}": "prettier --write",
  "src/**/*.{js,ts,tsx}": ["next lint --fix .", "prettier --write"]
}

Update _app.tsx
  src/pages/_app.tsx
Due: prettier --write, next lint --fix .

chore: Upgrade packages
  .babelrc
  package-lock.json
  package.json
  src/pages/_app.tsx
Due: prettier --write, next lint --fix .

chore: Minor change
  next.config.js
Due: none

chore: Minor change
  src/pages/index.tsx
Due: prettier --write, next lint --fix .

chore: Improvements
  .prettierrc
  src/components/core/Badge.tsx
  src/components/core/Button.tsx
  src/components/core/Form.tsx
  src/components/core/Input.tsx
  src/components/core/Link.tsx
  src/components/core/Loader.tsx
  src/components/core/Modal.tsx
  src/components/core/RadioGroup.tsx
  src/components/core/Table.tsx
  tailwind.config.js
Due: prettier --write, next lint --fix .

feat: Jest
  .eslintrc.json
  __mocks__/fileMock.js
  __mocks__/server.js
  __mocks__/styleMock.js
  __tests__/pages/index.test.tsx
  cypress/integration/homepage.test.js
  jest.config.js
  jest.setup.js
  package-lock.json
  package.json
  src/utils/theme.ts
Due: prettier --write, next lint --fix .

Notes added by 'git notes add'
  15122b0c55292c2cfcdca326d945c0919f1d2412
Due: none

Rename homepage.test.js to homepage.spec.js
  cypress/integration/homepage.spec.js
Due: none

build: Upgrade packages
  package-lock.json
  package.json
Due: prettier --write

feat: Add @modulz/design-system
  package-lock.json
  package.json
  src/pages/_app.tsx
Due: prettier --write, next lint --fix .

Notes added by 'git notes add'
  cd92f7c33928359651f8b06f6e865656cc8894a9
Due: none

chore: Update package lock
  package-lock.json
Due: prettier --write
