Repository hnordt/web-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,html,css,json}": "prettier --write",
  "*.js": ["eslint --fix", "prettier --write"]
}

build: Add release script
  .github/workflows/release.yml
  .releaserc
  package.json
  yarn.lock
Due: prettier --write

build: Fix now.json
  now.json
Due: prettier --write

build: Add release script
  package.json
Due: prettier --write

build: Fix release script
  .releaserc
Due: none

feat: Next 9.4
  .gitignore
  next.config.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  59332193f8bcdc50b16e921328fd96b04783b872
Due: none

feat: Improve structure
  src/components/Button.js
  src/components/Grid.js
  src/components/Layout.js
  src/components/Link.js
  src/components/Screen.js
  src/components/Toolbar.js
  src/pages/_app.js
  src/pages/index.js
  src/pages/playground.js
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  186493188a3fc0bc37b74211ef461134286d39f0
Due: none

chore: Replace @smalldots/toolkit with @hnordt/toolkit
  README.md
  package.json
  src/components/Button.js
  src/components/CardContent.js
  src/components/Grid.js
  src/components/TD.js
  src/utils/createClient.js
  yarn.lock
Due: prettier --write, eslint --fix

feat: Add export script
  README.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7571a6a417963c653bb0cd8fda116995892b3f2a
Due: none

chore: Update README
  README.md
Due: prettier --write

refactor: Cleanup
  src/pages/_app.js
  src/pages/_document.js
Due: prettier --write, eslint --fix

fix: Font
  tailwind.config.js
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  10bb8ae271b3a8bbf934281b5bf77275dd064983
Due: none

feat: Add Transition
  package.json
  src/components/Transition.js
  yarn.lock
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  7dece422ee0a21696414d7055c5dd98454841bec
Due: none

feat: Add tests, cleanup non-template stuff
  .babelrc
  .github/workflows/release.yml
  .gitignore
  README.md
  jest.config.js
  jest.setup.js
  package.json
  src/clients/TodoClient.js
  src/clients/UserClient.js
  src/components/AlertDialog.js
  src/components/AlertDialogActions.js
  src/components/AlertDialogDescription.js
  src/components/AlertDialogLabel.js
  src/components/Button.js
  src/components/Card.js
  src/components/CardContent.js
  src/components/Container.js
  src/components/Grid.js
  src/components/Icon.js
  src/components/Layout.js
  src/components/Link.js
  src/components/Spinner.js
  src/components/TD.js
  src/components/TH.js
  src/components/Table.js
  src/components/Toolbar.js
  src/components/Transition.js
  src/pages/__tests__/index.js
  src/pages/_document.js
  src/pages/index.js
  src/pages/playground.js
  src/styles/index.css
  src/utils/createClient.js
  src/utils/propTypes.js
  tailwind.config.js
  yarn.lock
Due: prettier --write, eslint --fix

build: Fix testing error
  src/__tests__/pages/index.spec.js
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  7d3f96d89dcc04f3febe8c36d090342766dbd2f8
Due: none

chore: Minor change
  src/__tests__/pages/index.test.js
Due: prettier --write, eslint --fix

ci: Add actions/cache
  .github/workflows/release.yml
Due: none

ci: Fix cache
  .github/workflows/release.yml
Due: none

chore: Minor cleanup
  .github/workflows/release.yml
  .gitignore
Due: none

test: Minor change
  src/__tests__/pages/index.test.js
Due: prettier --write, eslint --fix

Update package.json
  package.json
Due: prettier --write

Update .gitignore
  .gitignore
Due: none

Update release.yml
  .github/workflows/release.yml
Due: none

chore: Improvements
  package-lock.json
  package.json
  src/components/Layout.js
  src/components/Screen.js
  src/pages/_document.js
  src/pages/index.js
  src/utils/createClient.js
Due: prettier --write, eslint --fix

chore: Upgrade packages
  package.json
Due: prettier --write

chore: Update package-lock.json
  package-lock.json
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

feat: Add Tailwind Typography
  package-lock.json
  package.json
  tailwind.config.js
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  1a81cd2d52a16b85d4398ccc47629f58c67bd663
Due: none

chore: Update deps
  package-lock.json
  package.json
Due: prettier --write

Delete yarn.lock
  yarn.lock
Due: none

Update tailwind.config.js
  tailwind.config.js
Due: prettier --write, eslint --fix

chore: Update deps
  .prettierrc
  package-lock.json
  package.json
  src/pages/_app.js
Due: prettier --write, eslint --fix

chore: Minor changes
  src/pages/_app.js
  tailwind.config.js
Due: prettier --write, eslint --fix
