Repository hnordt/web-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,html,css,json}": "prettier --write",
  "*.js": ["eslint --fix", "prettier --write"]
}

chore: Upgrade packages
  package-lock.json
  package.json
Due: prettier --write

chore: Cleanup
  .gitignore
  package-lock.json
  package.json
  src/components/_experimental/Alert.js
  src/components/_experimental/AlertDialog.js
  src/components/_experimental/Avatar.js
  src/components/_experimental/Badge.js
  src/components/_experimental/Breadcrumb.js
  src/components/_experimental/Breadcrumbs.js
  src/components/_experimental/Button.js
  src/components/_experimental/Checkbox.js
  src/components/_experimental/CheckboxGroup.js
  src/components/_experimental/Dialog.js
  src/components/_experimental/Heading.js
  src/components/_experimental/Icon.js
  src/components/_experimental/Input.js
  src/components/_experimental/Link.js
  src/components/_experimental/Loader.js
  src/components/_experimental/MenuButton.js
  src/components/_experimental/NonIdealState.js
  src/components/_experimental/NumberInput.js
  src/components/_experimental/Popover.js
  src/components/_experimental/Radio.js
  src/components/_experimental/RadioGroup.js
  src/components/_experimental/Select.js
  src/components/_experimental/Stat.js
  src/components/_experimental/Stats.js
  src/components/_experimental/Switch.js
  src/components/_experimental/Text.js
  src/components/_experimental/TextArea.js
  src/components/_experimental/Tooltip.js
  src/components/_unstable/.gitkeep
  src/pages/_app.js
  src/styles/index.css
  tailwind.config.js
Due: prettier --write, eslint --fix

Update release.yml
  .github/workflows/release.yml
Due: none

build: Upgrade packages
  package-lock.json
  package.json
Due: prettier --write

chore: Add queryClient
  src/pages/_app.js
Due: prettier --write, eslint --fix

build: Husky v5
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc
  package-lock.json
  package.json
Due: prettier --write

chore: Update .gitignore generated by husky
  .husky/.gitignore
Due: none

build: Add react-hook-form
  package-lock.json
  package.json
Due: prettier --write

build: Add recharts
  package-lock.json
  package.json
Due: prettier --write

build: Upgrade packages
  .husky/.gitignore
  package-lock.json
  package.json
Due: prettier --write

feat: Add react-hot-toast
  package-lock.json
  package.json
  src/pages/_app.js
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  6badf8180bd440221528f2b4465c33fa65a3ec65
Due: none

feat: Add react-virtuoso
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b0f17de3242084edafbe622efb6a9aa8cd79dd87
Due: none

chore: Add DatePicker
  package-lock.json
  package.json
  src/pages/_app.js
  src/pages/index.js
  src/styles/index.css
Due: prettier --write, eslint --fix

chore: Minor change
  src/pages/_app.js
Due: prettier --write, eslint --fix

chore: Fixes
  src/components/__alpha/Alert.js
  src/components/__alpha/AlertDialog.js
  src/components/__alpha/Avatar.js
  src/components/__alpha/Badge.js
  src/components/__alpha/Breadcrumb.js
  src/components/__alpha/Breadcrumbs.js
  src/components/__alpha/Button.js
  src/components/__alpha/Checkbox.js
  src/components/__alpha/CheckboxGroup.js
  src/components/__alpha/Dialog.js
  src/components/__alpha/Heading.js
  src/components/__alpha/Icon.js
  src/components/__alpha/Input.js
  src/components/__alpha/Link.js
  src/components/__alpha/Loader.js
  src/components/__alpha/MenuButton.js
  src/components/__alpha/NonIdealState.js
  src/components/__alpha/NumberInput.js
  src/components/__alpha/Popover.js
  src/components/__alpha/Radio.js
  src/components/__alpha/RadioGroup.js
  src/components/__alpha/Select.js
  src/components/__alpha/Stat.js
  src/components/__alpha/Stats.js
  src/components/__alpha/Switch.js
  src/components/__alpha/Text.js
  src/components/__alpha/TextArea.js
  src/components/__alpha/Tooltip.js
  src/components/alpha/.gitkeep
  src/components/alpha/DateRangePicker.js
  src/components/beta/.gitkeep
  src/components/rc/.gitkeep
  src/pages/index.js
  src/styles/index.css
Due: prettier --write, eslint --fix

chore: Cleanup
  src/components/alpha/.gitkeep
  src/components/alpha/Alert.js
  src/components/alpha/AlertDialog.js
  src/components/alpha/Avatar.js
  src/components/alpha/Badge.js
  src/components/alpha/Breadcrumb.js
  src/components/alpha/Breadcrumbs.js
  src/components/alpha/Button.js
  src/components/alpha/Checkbox.js
  src/components/alpha/CheckboxGroup.js
  src/components/alpha/Dialog.js
  src/components/alpha/Heading.js
  src/components/alpha/Icon.js
  src/components/alpha/Input.js
  src/components/alpha/Link.js
  src/components/alpha/Loader.js
  src/components/alpha/MenuButton.js
  src/components/alpha/NonIdealState.js
  src/components/alpha/NumberInput.js
  src/components/alpha/Popover.js
  src/components/alpha/Radio.js
  src/components/alpha/RadioGroup.js
  src/components/alpha/Select.js
  src/components/alpha/Stat.js
  src/components/alpha/Stats.js
  src/components/alpha/Switch.js
  src/components/alpha/Text.js
  src/components/alpha/TextArea.js
  src/components/alpha/Tooltip.js
  src/components/rc/.gitkeep
Due: prettier --write, eslint --fix

chore: Cleanup
  src/pages/index.js
Due: prettier --write, eslint --fix

chore: Minor change
  src/components/__alpha/Alert.js
  src/components/__alpha/AlertDialog.js
  src/components/__alpha/Avatar.js
  src/components/__alpha/Badge.js
  src/components/__alpha/Breadcrumb.js
  src/components/__alpha/Breadcrumbs.js
  src/components/__alpha/Button.js
  src/components/__alpha/Checkbox.js
  src/components/__alpha/CheckboxGroup.js
  src/components/__alpha/Dialog.js
  src/components/__alpha/Heading.js
  src/components/__alpha/Icon.js
  src/components/__alpha/Input.js
  src/components/__alpha/Link.js
  src/components/__alpha/Loader.js
  src/components/__alpha/MenuButton.js
  src/components/__alpha/NonIdealState.js
  src/components/__alpha/NumberInput.js
  src/components/__alpha/Popover.js
  src/components/__alpha/Radio.js
  src/components/__alpha/RadioGroup.js
  src/components/__alpha/Select.js
  src/components/__alpha/Stat.js
  src/components/__alpha/Stats.js
  src/components/__alpha/Switch.js
  src/components/__alpha/Text.js
  src/components/__alpha/TextArea.js
  src/components/__alpha/Tooltip.js
Due: prettier --write, eslint --fix

chore: Add Popover
  package-lock.json
  package.json
  src/components/__alpha/Popover.js
  src/components/alpha/DateRangePicker.js
  src/components/alpha/Popover.js
  src/utils/theme.js
Due: prettier --write, eslint --fix

feat: Button
  src/components/__alpha/Button.js
  src/components/alpha/Button.js
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  1bb718efd370b4d376c92245894b48bca75191dd
Due: none

build: Move tailwindcss to devDeps
  package-lock.json
  package.json
Due: prettier --write

build: Add Tailwind JIT
  package-lock.json
  package.json
  postcss.config.js
  src/pages/_app.js
  src/styles/index.css
Due: prettier --write, eslint --fix

feat: Add Tabs
  src/components/alpha/Tabs.js
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  417f7cc10f819785b815dd188f8f605b8bbfd7d7
Due: none

feat: Add Card
  src/components/alpha/Card.js
  src/components/alpha/Tabs.js
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  85dfb0d2e4d72534921181e931976882d8819463
Due: none

feat: Add more components
  next.config.js
  package-lock.json
  package.json
  src/components/__alpha/Checkbox.js
  src/components/__alpha/Input.js
  src/components/__alpha/Select.js
  src/components/alpha/Card.js
  src/components/alpha/Checkbox.js
  src/components/alpha/Input.js
  src/components/alpha/Select.js
  src/components/alpha/Tabs.js
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  e19e35eded0a7bdd26dc1d34caca15f5ed5f27cf
Due: none

chore: Digichem settings
  TODO.md
  package-lock.json
  package.json
  src/components/__alpha/Switch.js
  src/components/alpha/Button.js
  src/components/alpha/Card.js
  src/components/alpha/Tabs.js
  src/data/settings-copy.json
  src/data/settings.json
  src/pages/index.js
  src/styles/index.css
Due: prettier --write, eslint --fix
