Repository hnordt/web-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,html,css,json}": "prettier --write",
  "*.js": ["eslint --fix", "prettier --write"]
}

chore: Update packages
  package-lock.json
  package.json
Due: prettier --write

chore: Add Form and Modal (WIP)
  src/components/core/alpha/Form.tsx
  src/components/core/alpha/Loader.tsx
  src/components/core/alpha/Modal.tsx
  src/components/core/pre-alpha/Button.js
  src/components/core/pre-alpha/Input.js
Due: prettier --write, eslint --fix

chore: Enhance Form
  src/components/core/alpha/Form.tsx
Due: none

feat: Add React Table
  package-lock.json
  package.json
  src/screens/HomeScreen.tsx
Due: prettier --write

feat: Add Table
  package-lock.json
  package.json
  src/components/core/alpha/Table.tsx
  src/pages/_app.js
Due: prettier --write, eslint --fix

feat: Add onSuccess and onError to Form
  src/components/core/alpha/Form.tsx
Due: none

feat: Add FormModal
  src/components/core/alpha/Form.tsx
  src/components/core/alpha/FormModal.tsx
Due: none

chore: ModalForm
  src/components/core/alpha/ModalForm.tsx
Due: none

chore: Table add onEditClick
  src/components/core/alpha/Table.tsx
  src/screens/HomeScreen.tsx
Due: none

feat: Add query support for Table
  src/components/core/alpha/Table.tsx
Due: none

chore: Improvements
  src/components/core/alpha/Form.tsx
  src/components/core/alpha/Modal.tsx
  src/components/core/alpha/ModalForm.tsx
  src/components/core/alpha/Table.tsx
Due: none

chore: Improvements
  src/components/core/alpha/Form.tsx
  src/components/core/alpha/ModalForm.tsx
  src/components/core/alpha/Table.tsx
Due: none

chore: More improvements
  src/components/core/alpha/Form.tsx
  src/components/core/alpha/ModalForm.tsx
Due: none

feat: Add Card
  src/components/core/alpha/Card.tsx
Due: none

feat: Add Layout
  src/components/Layout.tsx
Due: none

chore: Improvements
  src/components/Layout.tsx
  src/components/core/alpha/Badge.tsx
  src/components/core/alpha/Form.tsx
  src/components/core/alpha/Modal.tsx
  src/components/core/alpha/Table.tsx
Due: none

chore: Minor improvement
  src/components/core/alpha/Table.tsx
Due: none

chore: Upgrade packages
  package-lock.json
  package.json
  src/components/core/alpha/Card.tsx
Due: prettier --write

chore: Fixes
  src/components/core/alpha/Form.tsx
  src/components/core/alpha/Modal.tsx
  src/components/core/pre-alpha/Button.js
Due: prettier --write, eslint --fix

chore: Initial commit
  src/hooks/useHandleEvent.ts
  src/pages/[[...slug]].js
  src/screens/ControllersScreen.tsx
  src/screens/HomeScreen.tsx
  src/screens/SitesScreen.tsx
  src/screens/UsersScreen.tsx
  src/utils/httpClient.js
Due: prettier --write, eslint --fix

chore: Cleanup
  src/screens/HomeScreen.tsx
Due: none

Notes added by 'git notes add'
  00ecc57f5a5cea7f55c182ebd8d07f85263a4241
Due: none

chore: Add useHandleEvent
  src/hooks/useHandleEvent.ts
  src/screens/HomeScreen.tsx
Due: none

chore: Initial commit
  package-lock.json
  package.json
  src/components/core/alpha/Combobox.tsx
  src/screens/HomeScreen.tsx
Due: prettier --write

chore: Add react-error-boundary
  package-lock.json
  package.json
Due: prettier --write

chore: Add combobox
  package-lock.json
  package.json
  src/components/core/alpha/Combobox.tsx
  src/screens/HomeScreen.tsx
Due: prettier --write

chore: Cleanup
  package-lock.json
  package.json
  src/components/core/pre-alpha/Button.js
  src/components/core/pre-alpha/Input.js
  src/pages/_document.js
  tailwind.config.js
Due: prettier --write, eslint --fix

chore: Update packages
  package-lock.json
  package.json
  src/screens/HomeScreen.tsx
Due: prettier --write

feat: Add Select
  src/components/core/alpha/Select.tsx
Due: none

Notes added by 'git notes add'
  a146c78925c9aa988da1540e2786ceab247c42f9
Due: none

chore: Component changes
  src/components/core/alpha/Button.tsx
  src/components/core/alpha/Form.tsx
  src/components/core/alpha/Link.tsx
  src/components/core/alpha/Modal.tsx
  src/components/core/alpha/ModalForm.tsx
  src/components/core/alpha/Table.tsx
  src/components/core/pre-alpha/Input.js
  src/hooks/useHandleEvent.ts
  src/pages/_app.js
Due: prettier --write, eslint --fix

chore: Fixes
  src/screens/ControllersScreen.tsx
Due: none

chore: Fix sites
  src/components/Layout.tsx
  src/hooks/useHandleEvent.ts
  src/screens/SitesScreen.tsx
Due: none

chore: Improve mutateAsync
  src/hooks/useHandleEvent.ts
Due: none
