Repository hnordt/web-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: Typo
  src/pages/_document.js
Due: prettier --write, eslint --fix

chore: Cleanup
  src/components/Layout.js
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  2f5cece0785200ad4365b790573e021f7cee4d8a
Due: none

chore: Upgrade deps
  README.md
  package-lock.json
  package.json
Due: prettier --write

chore: Upgrade deps
  package-lock.json
  package.json
Due: prettier --write

chore: Created components and Stats folders
  src/components/Stats/index.js
Due: prettier --write, eslint --fix

chore: Tailwind configured; templates criared; trying to make a plugin with Tailwind
  jsconfig.json
  package-lock.json
  package.json
  src/components/Stats/Stat.js
  src/components/Stats/index.js
  src/pages/index.js
  tailwind.config.js
Due: prettier --write, eslint --fix

chore: Adding to use classNames
  package.json
  src/components/Stats/Stat.js
  tailwind.config.js
Due: prettier --write, eslint --fix

chore: Implement Stats and Stat
  src/components/Stat.js
  src/components/Stats.js
  src/components/Stats/Stat.js
  src/pages/index.js
Due: prettier --write, eslint --fix

chore: Implement StatsContext
  src/components/Stat.js
  src/components/Stats.js
Due: prettier --write, eslint --fix

chore: Adding breadcrumb outline
  src/pages/index.js
Due: prettier --write, eslint --fix

chore: Implemented layout
  package.json
  src/pages/index.js
Due: prettier --write, eslint --fix

chore: Adjusting layout
  src/pages/index.js
Due: prettier --write, eslint --fix

chore: Making components of Breadcrumbs
  src/components/Breadcrumb.js
  src/components/Breadcrumbs.js
  src/pages/index.js
Due: prettier --write, eslint --fix

chore: Almost done. Just missing the icon
  src/pages/index.js
Due: prettier --write, eslint --fix

chore: Almost done. Adding Tag/Tags to component folder. Still missing the icon
  src/components/Tag.js
  src/components/Tags.js
  src/pages/index.js
Due: prettier --write, eslint --fix

chore: Add prettier-plugin-tailwind
  .prettierrc
  package-lock.json
  package.json
Due: prettier --write

chore: Replace Tags with Breadcrumbs
  src/pages/index.js
Due: prettier --write, eslint --fix

chore: Revert jsconfig.json changes
  jsconfig.json
Due: prettier --write

chore: Revert package.json changes
  package-lock.json
  package.json
Due: prettier --write

chore: Revert tailwind.config.js
  tailwind.config.js
Due: prettier --write, eslint --fix

chore: Improve Breadcrumbs
  src/components/Breadcrumb.js
  src/components/Breadcrumbs.js
Due: prettier --write, eslint --fix

chore: Remove components
  src/components/Stat.js
  src/components/Stats.js
  src/components/Tag.js
  src/components/Tags.js
Due: prettier --write, eslint --fix

chore: Revert index
  src/pages/index.js
Due: prettier --write, eslint --fix

feat: Add Breadcrumbs component (#5)
  package-lock.json
  src/components/Breadcrumb.js
  src/components/Breadcrumbs.js
  tailwind.config.js
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  be3a1e076aa9bae44fdbdaccd5555f5c2137e480
Due: none

feat: Add Stats component
  src/components/Stat.js
  src/components/Stats.js
Due: prettier --write, eslint --fix

feat: Add Tags component
  src/components/Tag.js
  src/components/Tags.js
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  8b13a8869675383b3a59baa5133a0d9a1ee542c3
Due: none

chore: Upgrade packages
  package-lock.json
  package.json
Due: prettier --write

chore: Add colors
  src/pages/index.js
Due: prettier --write, eslint --fix

chore: Improve Breadcrumb
  src/components/Breadcrumb.js
Due: prettier --write, eslint --fix

chore: Cleanup Stat
  src/components/Stat.js
Due: prettier --write, eslint --fix

chore: Add dismiss icon
  src/pages/index.js
Due: prettier --write, eslint --fix

chore: Improve Tas
  src/components/Stat.js
  src/components/Tag.js
  src/components/Tags.js
Due: prettier --write, eslint --fix

chore: Improve Stats
  src/components/Stat.js
  src/components/Stats.js
Due: prettier --write, eslint --fix

feat: Add Button
  src/components/Button.js
  src/pages/_document.js
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  0cfaf6ca60350a3344fd5e4815d7ad4faa2fa64e
Due: none

chore: Add Alert and Alerts component
  src/components/Alert.js
  src/components/Alerts.js
  src/pages/index.js
Due: prettier --write, eslint --fix

feat: Add Icon
  src/components/Icon.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,html,css,json}) or (any of: *.js)
  eslint --fix: any of: *.js
