Repository hnordt/web-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,html,css,json}": "prettier --write",
  "*.js": ["eslint --fix", "prettier --write"]
}

ci: Add cypress
  .eslintrc
  cypress.json
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

ci: Fix Jest
  jest.config.js
  src/screens/HomeScreen.js
Due: prettier --write, eslint --fix

ci: Fix Jest
  src/screens/HomeScreen.js
Due: prettier --write, eslint --fix

chore: Ignore some cypress files
  .gitignore
Due: none

chore: Remove Jest
  .gitignore
  jest.config.js
  jest.setup.js
  package-lock.json
  package.json
  src/__tests__/pages/index.test.js
Due: prettier --write, eslint --fix

chore: Finish cypress impl
  .gitignore
  cypress.json
  cypress/fixtures/.gitkeep
  cypress/integration/homepage.spec.js
Due: prettier --write, eslint --fix

ci: Fix Cypress
  .github/workflows/release.yml
Due: none

chore: Fix CI again
  .github/workflows/release.yml
  package-lock.json
  package.json
Due: prettier --write

chore: Minor change
  .github/workflows/release.yml
Due: none

chore: Add TypeScript
  jsconfig.json
  next-env.d.ts
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

chore: Add strictNullChecks
  tsconfig.json
Due: prettier --write

chore: Fix Cypress
  package-lock.json
  package.json
Due: prettier --write

build: Upgrade packages
  package-lock.json
  package.json
Due: prettier --write

chore: Update package-lock
  package-lock.json
Due: prettier --write

ci: Update release script
  .github/workflows/release.yml
Due: none

ci: Update release script
  .github/workflows/test-and-release.yml
Due: none

chore: Fix CI
  .gitignore
  cypress/downloads/.gitkeep
  cypress/screenshots/.gitkeep
  cypress/videos/.gitkeep
Due: none

ci: Update release script
  package.json
Due: prettier --write

chore: Cleanup
  .gitignore
  cypress/downloads/.gitkeep
  cypress/screenshots/.gitkeep
  cypress/videos/.gitkeep
Due: none

chore: Fix
  .github/workflows/test-and-release.yml
Due: none

chore: Cleanup
  .github/workflows/test-and-release.yml
Due: none

chore: Add blueGray
  tailwind.config.js
Due: prettier --write, eslint --fix

chore: Initial commit
  src/data/controllers.json
  src/data/members.json
  src/data/profile.json
  src/data/sites.json
  src/screens/HomeScreen.js
Due: prettier --write, eslint --fix

build: Update packages
  package-lock.json
  package.json
Due: prettier --write

chore: Fixes
  src/pages/_document.js
  tailwind.config.js
Due: prettier --write, eslint --fix

chore: Initial commit
  src/components/core/alpha/Button.tsx
  src/utils/ButtonUtils.ts
Due: none

build: Add dnd kit
  package-lock.json
  package.json
Due: prettier --write

chore: Update package lock
  package-lock.json
Due: prettier --write

chore: HomeScreen.tsx
  src/screens/HomeScreen.tsx
Due: none

chore: Upgrade packages
  .husky/.gitignore
  package-lock.json
  package.json
Due: prettier --write

chore: Fixes
  next-env.d.ts
  package-lock.json
  package.json
  postcss.config.js
  tailwind.config.js
  tsconfig.json
Due: prettier --write, eslint --fix

chore: Blue gray
  src/components/core/alpha/Button.js
  src/components/core/alpha/Input.js
  src/pages/_document.js
Due: prettier --write, eslint --fix

chore: Update deps
  package-lock.json
  package.json
Due: prettier --write

chore: Update packages
  package-lock.json
  package.json
Due: prettier --write
