Repository hnordt/web-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,html,css,json}": "prettier --write",
  "*.js": ["eslint --fix", "prettier --write"]
}

chore: Fixes
  src/screens/ControllersScreen.tsx
  src/screens/SitesScreen.tsx
  src/screens/UsersScreen.tsx
Due: none

chore: Fixes
  src/screens/UsersScreen.tsx
Due: none

chore: Fixes
  package-lock.json
  package.json
  src/screens/HomeScreen.tsx
Due: prettier --write

chore: Add react-tooltip
  package-lock.json
  package.json
Due: prettier --write

chore: Improve table
  src/components/core/alpha/Table.tsx
Due: none

chore: Update packages
  package.json
Due: prettier --write

chore: Upgrade packages
  package-lock.json
  package.json
Due: prettier --write

chore: Fixes
  src/components/core/alpha/Modal.tsx
  src/components/core/alpha/Table.tsx
  src/screens/UsersScreen.tsx
  src/utils/httpClient.js
Due: prettier --write, eslint --fix

chore: Update components
  src/components/core/alpha/Modal.tsx
  src/components/core/alpha/Table.tsx
Due: none

chore: Update packages
  package-lock.json
  package.json
Due: prettier --write

chore: Update next.env.ts
  next-env.d.ts
  src/screens/HomeScreen.tsx
Due: none

chore: Add new Table
  src/screens/HomeScreen.tsx
Due: none

chore: Improvements
  package-lock.json
  package.json
  src/screens/HomeScreen.tsx
  src/styles/index.css
Due: prettier --write

chore: New Table
  src/components/core/alpha/Table.tsx
  src/screens/HomeScreen.tsx
Due: none

chore: Cleanup
  src/components/core/alpha/Table.tsx
Due: none

chore: Cleanup
  src/screens/HomeScreen.tsx
Due: none

feat: New table (#22)
  package-lock.json
  package.json
  src/components/core/alpha/Table.tsx
  src/screens/HomeScreen.tsx
  src/styles/index.css
Due: prettier --write

Notes added by 'git notes add'
  4e23bd2acb09240d6ea452389a50c932a418b8c2
Due: none

chore: README cleanup
  README.md
Due: prettier --write

chore: Minor change
  src/screens/HomeScreen.tsx
Due: none

chore: Rewrite Select
  src/components/core/alpha/Select.tsx
Due: none

chore: Update package lock
  package-lock.json
Due: prettier --write

chore: Fixes
  package-lock.json
  src/components/core/alpha/Table.tsx
  src/screens/SitesScreen.tsx
  src/screens/UsersScreen.tsx
  src/types.ts
Due: prettier --write

chore: Improve Site types
  src/screens/SitesScreen.tsx
  src/types.ts
Due: none

feat: Next ESLint
  .eslintrc.json
  next.config.js
  package-lock.json
  package.json
  src/components/core/alpha/Button.tsx
  src/components/core/alpha/Table.tsx
  src/pages/_app.js
  src/pages/_document.js
Due: prettier --write, eslint --fix

chore: Fix lint staged
  .lintstagedrc
Due: none

chore: Minor ESLint fix
  .eslintrc.json
Due: prettier --write

feat: Next Lint (#23)
  .eslintrc.json
  .lintstagedrc
  next.config.js
  package-lock.json
  package.json
  src/components/core/alpha/Button.tsx
  src/components/core/alpha/Table.tsx
  src/pages/_app.js
  src/pages/_document.js
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  6d8806adf5d7f70c77f1c16a55dd033de9ec5000
Due: none

chore: Minot change
  .lintstagedrc
  src/pages/_app.js
Due: prettier --write, eslint --fix

chore: Fixes
  .lintstagedrc
  package-lock.json
  package.json
Due: prettier --write

chore: Add TODO
  TODO
Due: none

chore: Fixes
  .lintstagedrc
  TODO
  src/screens/UsersScreen.tsx
Due: none

chore: Fixes
  .lintstagedrc
Due: none

chore: Fix
  .lintstagedrc
Due: none

feat: Finish users
  TODO
  src/screens/UsersScreen.tsx
Due: none

chore: Update TODO
  TODO
Due: none
